<div class="hatter">
  <div class="kep">
    <img src="../assets/logo.svg" alt="">
  </div>
  <div class="card">
    <div class="jobb">
      <div class="elso">
        <span>Bill</span>
        <div class="kk">
          <img class="dollar" src="../assets/icon-dollar.svg" alt="">
          <input type="text">
        </div>
      </div>
      <span class="select">Select Tipe %</span>
       <div class="gomb">
       <div class="felso">
         <button>5%</button>
         <button>10%</button>
         <button>15%</button>
       </div>
       <div class="also">
         <button>25%</button>
         <button>50%</button>
          <input placeholder=" Custom" class="ii" type="text">
       </div>
     </div>
     <div class="masodik">
       <span>Number of People</span>
       <div class="hh">
         <img src="../assets/icon-person.svg" alt="">
         <input type="text"> 
       </div>
     </div>
    </div>
    <div class="bal">
      <div class="sor">
        <div class="tip">
          <span class="tip1">Tip Amount</span>
          <span class="person">/ person</span>
        </div>
        <input placeholder="$0.00" type="text">
      </div>
      <div class="sor1">
        <div class="tip">
          <span class="total">Total</span>
          <span class="p">/ person</span>
        </div>
        <input placeholder="$0.00" type="text">
        </div>
        <button class="b">RESET</button>
    </div>
  </div>
</div>