$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Dark-grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$Strong-cyan: hsl(172, 67%, 45%);

.hatter{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: 'Space Mono', monospace;
    background-color:hsl(185, 41%, 84%);

    .kep{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0px 0px 0px;

        img{
            width: 80px;
            height: 50px;
        }
       
    }

    .card{
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 50%;
        background-color: white;
        align-items: center;
        margin: auto;
        border-radius: 20px;

        .jobb{
            display: flex;
            flex-direction: column;
            width: 60%;
            height: 100%;
         
         

            .elso{
                display: flex;
                flex-direction: column;
                padding: 35px 0px 0px 35px;

                span{
                    color:hsl(186, 14%, 43%);
                    font-weight: bold;
                    font-size: 14px;
                    padding: 0px 0px 10px 0px;
                }

                .kk{ 
                
                    position: relative;

                    .dollar{
                        position: absolute;
                        top: 8px;
                        left:10px;
                       
                    }

                    input{
                        width: 280px;
                        height: 30px;
                        border-radius: 3px;
                        border: none;
                        background-color: hsl(189, 41%, 97%);
                        padding: 0px 26px;
                        
                        
                        }
    
                        input:hover {
                            border: 2px solid $Strong-cyan;;
                    }
               }
                
               
            }
                 
            .select{
                color:hsl(186, 14%, 43%);
                font-weight: bold;
                font-size: 14px;
                padding: 20px 0px 10px 35px;
            }

            .gomb{
                display: flex;
                flex-direction: column;
                gap: 12px;

                .felso{
                    display: flex;
                    gap: 14px;
                    margin-left: 35px;

                    
                    button{
                        width: 100px;
                        height: 36px;
                        font-size: 16px;
                        font-weight: bold;
                        color: white;
                        background-color: $Very-dark-cyan;
                        border-radius: 4px;
                        font-family:'Space Mono', monospace; 
                        border: none;
                       
                                               
                    }

                    button:hover{
                        background-color: $Strong-cyan;
                        color: $Very-dark-cyan;

                    }
                }

                .also{
                    display: flex;
                    gap: 14px;
                    margin-left: 35px;

                    button{
                        width: 100px;
                        height: 36px;
                        font-size: 16px;
                        font-weight: bold;
                        color: white;
                        background-color: $Very-dark-cyan;
                        border-radius: 4px;
                        font-family:'Space Mono', monospace; 
                        border: none;
                       
                                               
                    }

                    button:hover{
                        background-color: $Strong-cyan;
                        color: $Very-dark-cyan;

                    }

                    .ii{
                        width: 97px;
                        height: 36px;
                        font-size: 16px;
                        font-weight: bold;
                        border-radius: 4px;
                        font-family:'Space Mono', monospace; 
                        border: none;
                        background-color:rgb(244, 250, 250);
                        
                    }

                    .ii:hover{
                        border: 2px solid $Strong-cyan;
                    }



                }


            }
         
           
            .masodik{
                color:hsl(186, 14%, 43%);
                font-weight: bold;
                 font-size: 14px;
                 padding: 26px 0px 0px 34px;

                 .hh{
                     position: relative;
                     

                     img{
                        position: absolute;
                        top: 26px;
                        left:10px
                     }

                     input{
                         width: 280px;
                         height: 30px;
                         background-color: rgb(244, 250, 250);
                         border: none;
                         margin-top: 18px;
                         padding: 0px 26px;

                     }

                     input.hover{
                         border: none;
                     }


                 }


            }
        } 

        .bal{
            display: flex;
            flex-direction: column;
            background-color: $Very-dark-cyan;
            height: 90%;
            width: 50%;
         
            border-radius: 20px;
            margin: 0px 22px 0px 0px;



            .sor{
                display: flex;
                flex-direction: row;
               padding: 56px 0px 0px 26px;

                .tip{

                    display: flex;
                    flex-direction: column;
                    padding: 0px 92px 0px 0px;

                    .tip1{
                        color: white;
                        font-size: 14px;

                    }

                    .person{
                        color:hsl(184, 14%, 56%);
                        font-size: 12px;
                    }


                 }

                 input{
                     border: none;
                     background-color: $Very-dark-cyan;
                     font-size: 33px;
                    width: 100px;
                    color: $Strong-cyan;
                    padding:0px 0px 0px 75px;
                    margin: 2px 2px 2px 2px;
                    
                    
                     
                 }
            }

            .sor1{
                display: flex;
                flex-direction: row;
                padding: 26px 0px 100px 26px;
                .tip{
                    display: flex;
                    flex-direction: column;
                    padding: 0px 92px 0px 0px;

                    .total{
                        color: white;
                        font-size: 14px;
                    }

                    .p{
                        color:hsl(184, 14%, 56%);
                        font-size: 12px;
                    }



                }
               
                input{
                    border: none;
                    background-color: $Very-dark-cyan;
                    font-size: 33px;
                   width: 96px;
                   color: $Strong-cyan;
                   padding:0px 0px 0px 103px;
                   margin: 2px 2px 2px 2px;
                }

                



            }

        }
        
    }
}



.b{
    height: 35px;
    width: 295px;
    background-color:  hsl(186, 14%, 43%);
    border-radius: 5px;
    border: none;
    margin: 0px 0px 0px 50px;
    font-size: 16px;
    color: hsl(183, 100%, 15%);


}
.b:hover{
    background-color: $Strong-cyan;
}
